<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="SudokuApp.Api"/>
  </extensions>
  
  <variable name="correlationLayout" value="Id=${aspnet-TraceIdentifier:whenEmpty=SYSTEM}" />
  <variable name="messageLayout" value="Message=${replace-newlines:${redacthtml:${message:withException=true}}}" />
  <!-- the targets to write to -->
  <targets>
    <target xsi:type="ColoredConsole" encoding="utf-8" name="console-dev" layout="${longdate}|${logger}|${uppercase:${level}}|${correlationLayout}|${messageLayout}"></target>

    <target name="logstashfileAsync" xsi:type="AsyncWrapper" queueLimit="20000" overflowAction="Discard">
      <target xsi:type="File" name="file" 
              encoding="utf-8"
              layout="${date:universalTime=true:format=O} Level=${level}, Category=${logger}, ${correlationLayout}, ${messageLayout}"
              fileName="c:\Applogs\rosgrant-sudoku-dev.log" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console-dev" />
    <logger name="*" minlevel="Trace" writeTo="logstashfileAsync" />
  </rules>
</nlog>
