###############
# Directories #
###############
.nuget
.vs

**/wwwroot/**/js/**
**/wwwroot/**/css/**
**/wwwroot/bundle
**/node_modules
**/obj
**/bin
**/Debug
**/Content/logs

###################
# compiled source #
###################
*.user
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
.idea/